* {
    margin:0;
    padding: 0;
}
html,body {
    height: 100%;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
}
header {
    height: 120px;
}
main {
    padding-bottom: 100px;
}
footer {
    margin: -100px auto 0;
    position: relative;
    height: 100px;
}

body {
    background-color: #0B1A3D;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
header {
    margin: 0 auto;
    height: 120px;
    width: 1040px;
}
main {
    width: 1040px;
    margin: 0 auto;
    padding-bottom: 110px;
}
footer {
    margin: -100px auto 0;
    width: 1040px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}
.main_img-float {
    width: 550px;
    margin-right: 40px;
    float: left;
}
#logo {
    text-transform: uppercase;
    text-decoration:none;
    color:#fff;
    font-weight: bold;
    line-height: 100px;
    font-size: 24px;
    float: left;
    margin-right: 150px;
}
.pink {
    color: #bc13fe;
}
.footer_block {
    display: inline-block;
    width: 335px;
    text-transform: uppercase;
}
.footer_icons {
    display: inline-block;
    text-align: right;
    width: 335px;
    margin-left: 10px;
}
.footer_img {
    width: 50px;
}
#panorama {
    width: 100%;
    height: 150px;
    background: url(../img/1761759643.png) no-repeat center 50%;
    background-size: cover; 
}
.services__item {
    margin-left: 40px;
    margin-right: 40px;
    width: 240px;
    float: left
} 
.services__img{
    width: 240px;
}
.onas__img {
    width: 900px;
}
.services {
    margin-bottom: 35px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
.h1-invisible {
    visibility: hidden;
  }
.texth1 {
    text-transform: uppercase;
    text-decoration:none;
    font-weight: bolder;
    font-size: 20px;
 }
 h1, h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.klienti h1 {
    font-size: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.services h1 {
    text-transform: uppercase;
}

.uslugi1 {
    text-transform: none;
}

.services a {
    text-decoration: none;
}

.services a:hover {
    text-decoration: underline;
    color: #bc13fe;
}
.contact {
text-align: center;
padding: 15px;
line-height: 3;
}
.container {
    padding: 10px;
    border-radius: 12px;
    max-width: 1000px;
    display: grid;
    gap: 40px 60px;
}
.test {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
.test img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.test-text {
    max-width: 400px;
}
.test-text p {
    font-size: 16px;
    margin: 10px;
}
.test-text span {
    font-size: 14px;
}
mark {
    background-color: #C7AFE6;
}

.white {
    color: white;
}

.mainnav {
    text-transform: uppercase;
text-decoration:none;
color:#fff;
font-weight: bold;
line-height: 100px;
font-size: 24px;
margin-right: 40px;
display: flex;
}

#mainnav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#mainnav li {
    display: inline;
    margin-right: 50px;
   
}

#mainnav a {
    text-decoration: none; 
    color:#fff;

}

#mainnav li:hover {
    text-decoration: underline;
    color:#bc13fe;
}

#mainnav li.active a{
    font-weight: bold;
}

.new::after{
    content: "new";
    font-size: 10px;
    vertical-align: super;
    background-color: #bc13fe;
    border-radius: 2px;
    padding: 3px;
    margin-left: 5px;
}

table {
  border-collapse: collapse;
  color: #ffffff;
  width: 100%;
}
caption {
  padding: 10px;
  color: rgb(255, 255, 255);
  background: #0B1A3D;
  font-size: 18px;
  text-align: center;
  border: 2px solid #bc13fe;
}
th {
  border-bottom: 2px solid #ffffff;
  padding: 10px;
  text-align: center;
  height: 70px;
}
td {
  padding: 10px;
}
tr:nth-child(odd) {
  background: #73348d;
}
tr:nth-child(even) {
 background: #172850;
 border: 2px solid #ffffff;
}
#contact-form input[type="text"] {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color:#838997;
}
#contact-form input[type="submit"] {
    height: 30px;
    width: 150px;
    padding: 5px;
    margin-bottom: 10px;
    border: rgb(0, 0, 0) solid 1px;
    background-color: #9a72a9;
    color: #0B1A3D;
}
#contact-form input[type="submit"]:hover {
    height: 30px;
    width: 150px;
    padding: 5px;
    margin-bottom: 10px;
    border: rgb(0, 0, 0) solid 1px;
    background-color: #404a61;
    color: white;
}
#contact-form select {
    height: 35px;
    width: 261px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #838997;
}
#contact-form textarea {
    height: 80px;
    width: 261px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #838997;
}
#contact-form input[type="email"] {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color:#838997;
}